<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body { 
            background-image: url('../../Images/future-weapon-art-cycle-man-hd-wallpaper-preview.jpg');
            @*background-color: deepskyblue;*@
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Bike Racing Tournament", "Index", "RacingTournament", new { area = "" }, new { @class = "navbar-brand" })
                }
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.Identity.Name.ToString() == "Turnament Management")
                        {
                            <li>@Html.ActionLink("Racer Details", "RacerDetails", "RacingTournament")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("My Details", "Index", "RacingTournament")</li>
                        }
                        <li>@Html.ActionLink("Logout", "Logout", "RacingTournament")</li>
                    }
                    </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
